*{
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222426;
    display: flex;
}


::-webkit-scrollbar {
    width: 7.5px;
    padding-right: 10px;
}
  

::-webkit-scrollbar-track { 
    border-radius: 20px;
}
   

::-webkit-scrollbar-thumb {
    background: #555555; 
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #2b2b2b; 
}

aside{
    background-color: #1D1D1D;
    color: #78787c;
    width: 15%;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    min-width: 275px;
    font-size: 0.9rem;
    overflow-y: scroll;
}

main{
    height: 100%;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.side-logo{
    width: 7vw;
    min-width: 100px;
    height: auto;
    margin: 0px 0px 0px 10px;
}

.side-nav{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.side-playbutton{
    width: 145px;
    height: 45px;
    color: white;
    background-color: #8757C3;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 10%;
    font-weight: bold;
    z-index: 1;
    margin-top: 60px;
    cursor: pointer;
}

.side-playbutton-circle{
    z-index: 3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-playbutton > span{
    z-index: 2;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.527);
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s infinite ease-out;
}

@keyframes pulse {
    0%{
        width: 45px;
        height: 45px;
        opacity: 1;
    }

    100%{
        width: 65px;
        height: 65px;
        right: -10px;
        opacity: 0;
    }
}

.play-triangle{
    width: 10px;
    height: 10px;
}

.link{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.link >p:hover{
    color: white;
    transition: 0.2s ease color;
    cursor: pointer;
}

.link > img{
    height: 17px;
    width: 15.5px;
    margin-right: 20px;
    cursor: pointer;
}

.notification{
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8757C3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}

.on{
    visibility: visible;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.socials >img{
    width: 20px;
    height: 20px;
    filter: invert(50%);
    cursor: pointer;
}

.socials >img:hover{
    filter: invert(75%);
}

.help-links{
    margin-bottom: 50px;
}

header{
    display: flex;
    background-color: #222426e8;
    backdrop-filter: blur(10px);
    height: 80px;
}

.header-LHS{
    display: flex;
    align-items: center;
    width: 50%;
}

.search-bar{
    background-color: #37393B;
    width: 400px;
    height: 35px;
    border-radius: 8px;
    color: #78787c;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 20px;
    font-size: 1rem;
    margin-left: 50px;
}

.search-bar > img{
    filter: brightness(0.6);
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.header-icon{
    height: 25px;
    width: auto;
    margin-left: 35px;
    cursor: pointer;
}

.header-notif{
    visibility: visible;
    position: absolute;
    top: -13px;
    right: -13px;
}

.header-RHS{
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 30px;
}

.header-game-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.header-game-icon{
    filter: invert(1);
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.header-game{
    font-size: 1.2rem;
}

.header-activity{
    color: white;
    margin-right: 40px;
    border-bottom: 4px solid #8757C3;
}

.header-pfp{
    background-image: url(images/man.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px #222426 solid;
}

.main-content{
    height: 70%;
    position: relative;
}

.main-primary{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    
}

.main-primary > div{
    position: absolute;
    top: 23%;
    left: 50px;
}

.main-heading{
    color: white;
    font-size: 5rem;
}

.main-subheading{
    color: #6f6f7c;
    font-size: 3rem;
}

.main-subheading > span{
    color: #8757C3;
}

.main-details{
    color: #494949;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
}

.main-details > span{
    color: white;
    font-weight: bold;
}

.main-image{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(ellipse at 60% 35%,#ffffff00,#222426e7,#222426), url(images/halo.jpg);
    background-size: cover;
    background-position: top;
}

.main-content-nav{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0);
}

.main-content-nav-primary >*{
    cursor: pointer;
}

.main-content-nav-primary{
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.main-content-pfp{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: #8757C3 3px solid;
}

.main-content-button{
    width: 150px;
    height: 45px;
    background-color: blue;
    margin-left: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 2px solid #384045;
    border-radius: 3px;
}

.stream{
    background-color: #384045;
}

.stream:hover{
    background-color: #8757C3;
    border: 2px solid #8757C3;
}

.donate{
    background-color: transparent;
}

.donate:hover{
    border: 2px solid #8757C3;
}

.edit{
    height: 30px;
    width: 30px;
    filter: invert(1);
    margin-left: 40px;
}

.explore-content{
    width: 100%;
    color: rgb(189, 189, 189);
    padding-top: 30px;
}

.explore-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.explore-links{
    width: 60%;
    max-width: 750px;
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
}

.explore-link{
    border-bottom: transparent solid 3px;
    padding-bottom: 8px;
    cursor: pointer;
}

.explore-link:hover{
    border-bottom: #8757C3 solid 3px;
    transition: 0.15s border ease;
    color: white;
}

.engaged{
    border-bottom: #8757C3 solid 3px;
    color: white;
}

.explore-socials{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.explore-socials > img{
    height: 20px;
    width: 20px;
    filter: invert(0.7);
    cursor: pointer;
}

.explore-socials > img:hover{
    filter: invert(1);
}




